.Atributos {
  display: flex;
}

.Atributos > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.Atributos > div .box {
  flex: 1;
  border: 1px solid #000;
  text-align: center;
  margin: 5px 5px 0;
  padding-bottom: 20px;
}

.Atributos > div .box label {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.Atributos > div .box span {
  display: block;
  font-size: 32px;
  margin-top: 5px;
}

.Atributos > div > input {
  flex: 1;
  border: 1px solid #000;
  width: 40px;
  font-size: 16px;
  margin: -15px auto 0;
  text-align: center;
  border-radius: 50%;
}