.Habilidades {
  margin: 5px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.Habilidades .title {
  padding: 5px;
  text-align: center;
}

.Habilidades .areas {
  display: flex;
}

.Habilidades textarea {
  flex: 1;
  margin: 5px;
  margin-right: 0;
  font-size: 13px;
  min-height: 230px;
  height: 100%;
}

.Habilidades textarea:last-child {
  margin-right: 5px;
}