.Header {
  display: flex;
}

.Header .basic-info {
  flex: 2;
}

.Header .row {
  display: flex;
}

.Header .input-wrapper {
  flex: 1;
  margin: 5px;
}

.Header .input-wrapper.nome {
  flex: 2;
}

.Header .input-wrapper.raca {
  flex: 3;
}

.Header .input-wrapper.origem {
  flex: 3;
}

.Header .input-wrapper.classe {
  flex: 4;
}

.Header .input-wrapper.nivel {
  flex: 2;
}

.Header .input-wrapper > input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  box-sizing: border-box;
}

.Header .input-wrapper > label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.Header .logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Header .logo img {
  max-width: 80%;
  align-self: center;
}
