.VidaMana {
  display: flex;
  text-align: center;
}

.VidaMana > div {
  flex: 1;
  border: 1px solid #000;
  margin: 5px;
  padding-bottom: 10px;
}

.VidaMana .pontos {
  display: flex;
}

.VidaMana .pontos input {
  display: block;
  width: 80%;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
}

.VidaMana .pontos .maximos {
  flex: 3;
  border-right: 1px solid #999;
}

.VidaMana .pontos .atuais {
  flex: 4;
}

.VidaMana .pontos .cura-dano {
  flex: 3;
}

.VidaMana .pontos span {
  display: block;
}

.VidaMana .pontos .num {
  font-size: 32px;
}

.VidaMana .pontos .label {
  font-size: 11px;
}